In [1]:
import requests

url = 'https://raw.githubusercontent.com/dolinger-nscc/user_defined_functions/main/udf.py' 
response = requests.get(url)

with open('udf.py', 'w') as file:
    file.write(response.text)

In [2]:
import pandas as pd
import udf

df = pd.read_csv('https://raw.githubusercontent.com/dolinger-nscc/user_defined_functions/main/data/penguins_size.csv')
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [3]:
data, unseen = udf.gen_unseen_pct(df)

In [4]:
df.shape,data.shape, unseen.shape

((344, 7), (275, 7), (69, 7))

In [5]:
# does my row rount match
df.shape[0] ==  unseen.shape[0] + data.shape[0]

True

In [6]:
unseen.to_csv('./data/unseen_penguins.csv', index=False)
data.to_csv('./data/penguins_tt.csv', index=False)

In [10]:
x, y = udf.gen_balanced_sample(df, 'species')

In [11]:
x.shape

(204, 7)

In [12]:
y

Adelie       68
Chinstrap    68
Gentoo       68
Name: species, dtype: int64